# Virtual Environment
.venv/

# Database files
database/

# FastF1 Cache
fastf1_cache/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Cache folder
cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/